<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.uio.ifi.in2000.weatheru">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_loading_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_loading_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="no.uio.ifi.in2000.weatheru.data.ApplicationClass"
        tools:targetApi="tiramisu"
        android:enableOnBackInvokedCallback="true">
        <!--android:name =".ui.notifications.ForecastNotificationChannel"-->
        <activity
            android:name="no.uio.ifi.in2000.weatheru.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <!-- android:theme="@style/Theme.MyApplication" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="no.uio.ifi.in2000.weatheru.ui.notifications.MyNotificationReceiver" />
    </application>
</manifest>